{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MuscleWiki - Edit Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Edit Your Profile</h2>
                </div>
                <div class="card-body">
                    <form method="POST" class="form" action="{{ url_for('main.user_update') }}">
                        {{ form.hidden_tag() }}
                        <label for="{{form.name.id}}">Real name</label>
                        {{ form.name(class="form-control") }}

                        <label for="{{form.location.id}}">Location</label>
                        {{ form.location(class="form-control") }}

                        <label for="{{form.about_me.id}}">About me</label>
                        {{ form.about_me(class="form-control") }}

                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}