{% extends 'base.html' %}

{% block title %}Update {{muscle.name}}{% endblock title %}

{% block header %}
Update muscle: {{muscle.name}} information
{% endblock header %}

{% block content %}

<form method="POST">

    <div class="form-group">

      {% if muscle.image_name %}
      <div class="text-center">
        <img src="{{ url_for('static', filename=muscle.image_name )}}" class="card-img-top img-thumbnail mx-auto text-center"
        style="max-width: 500px; max-height: 500px;" alt="{{muscle.name}}"/>
      </div>
      {% endif %}
      
      <label for="name">Update name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="{{muscle.name}}"/>
      
      <label for="summary">Update description</label>
      {% if muscle.description %}
      <input type="textarea" id="summary" name="summary" class="form-control" placeholder="{{muscle.description}}"/>
      {% else %}
      <input type="textarea" id="summary" name="summary" class="form-control" placeholder="Update description"/>
      {% endif %}

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
      
    </div>
</form>
{% endblock content %}