{% extends 'base.html' %}

{% block title %}Update {{muscle.name}}{% endblock title %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    <h3 align="center">Update muscle: {{muscle.name}} information</h3>

    <div class="form-group">
      <label for="name">Update name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="{{muscle.name}}"/>

      <p>{{ muscle.image_name }}</p>
      <img src="{{muscle_img_url}}" alt="{{muscle.name}}"/>
     
      <label for="image">Update image</label>
      <input type="file" id="image" name="file" class="form-control" placeholder="Upload file"/>

      <label for="summary">Update summary</label>
      {% if muscle.summary %}
      <input type="textarea" id="summary" name="summary" class="form-control" placeholder="{{muscle.summary}}"/>
      {% else %}
      <input type="textarea" id="summary" name="summary" class="form-control" placeholder="Update summary"/>
      {% endif %}

      <label for="divisions">Divisions</label>
      <ul>
        {% for division in muscle.divisions.all() %}
        <li>{{division}}</li>
        {% endfor %}
      </ul>

      <div align="center">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
      
    </div>
</form>
{% endblock content %}