{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}post{% endblock title %}

{% block header %}Create a post{% endblock header %}

{% block content %}

<div class="container">
    <form class="form" method="post">
        {{ form.hidden_tag() }}

        <label for="{{form.title.id}}">Title</label>
        {{ form.title(class="form-control") }}

        <label for="{{form.title.id}}">Body</label>
        {{ form.body(class="form-control") }}
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>


{% endblock content %}