{% extends "base.html" %}
    {% block title %}Login{% endblock %} 
    
{% block header %}Login{% endblock header %}
    
{% block content %}
    <form class="form" method="POST">
      <div class="mb-3 text-center">
        <input autocomplete="false" autofocus type="text" id="email" name="email"
        class="form-control mx-auto w-auto" placeholder="Enter Email"/>
      </div>

      <div class="mb-3 text-center">
        <input class="form-control mx-auto w-auto" type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
{% endblock content %}